<section
  class="h-screen flex flex-col justify-center items-center text-center bg-gray-900 text-white"
>
  <h1 class="text-5xl font-bold opacity-0" id="hero-title">
    Welcome to
    <span id="portfolio-text">
      <span
        *ngFor="let char of 'My Portfolio'.split(''); let i = index"
        class="portfolio-letter inline-block"
        >{{ char }}</span
      >
    </span>
  </h1>
  <p class="text-lg mt-4 opacity-0" id="hero-subtitle">
    I build high-quality web applications using Angular & modern web
    technologies.
  </p>

  <div class="mt-6 flex gap-4 opacity-0" id="hero-buttons">
    <a
      routerLink="/about"
      class="px-6 py-3 bg-blue-500 text-white rounded-lg text-lg font-semibold cursor-pointer transition duration-300 transform hover:scale-105 hover:bg-blue-600"
    >
      View My CV
    </a>
    <a
      routerLink="/projects"
      class="px-6 py-3 bg-blue-500 text-white rounded-lg text-lg font-semibold cursor-pointer transition duration-300 transform hover:scale-105 hover:bg-blue-600"
    >
      View My Work
    </a>
    <a
      routerLink="/blog"
      class="px-6 py-3 bg-blue-500 text-white rounded-lg text-lg font-semibold cursor-pointer transition duration-300 transform hover:scale-105 hover:bg-blue-600"
    >
      View My Articles
    </a>
  </div>
</section>
